body{
    background-color: lightgray;
}

h1{
    color: black;
    font-size: 200%;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}

h2{
    font-size: 175%;
    font-weight: bold;
    text-decoration: underline;
}

p{
    font-size: 125%;
    text-align: center;
}

.col-xl-3{
    text-align: center;
    border: 30px;
    padding: 10px;
}

.col-lg-4{
    text-align: left;
}

.col-lg-6{
    text-align: center;
}

.col-lg-8{
    text-align: center;
}

.img-responsive{
    border: 20px;
    box-shadow: 10px 10px 5px darkslategray;
}


#a1{
    box-shadow: 10px 10px 5px darkslategray;
    position: relative;
}

#a2{
    text-align: center;
    margin-left: 40px;
    margin-right: 20px;
    margin:10px
}


#a4{
    margin: 10px;
}

.button{
    align-items: center;
}


/* .navbar{
    text-align: left;
    background-color: black;
    color: rgb(51, 131, 250);
    font-size: xx-large;   */


/* .navbar-brand{
    color: rgb(25, 25, 228);
    font-weight: bold;
    text-decoration: underline;
} */

.navbar-light .navbar-brand {
    color: rgb(20, 231, 185);
    font-weight: strong;
    text-decoration: underline;
    
}




#a0{
    color:rgb(20, 231, 185);
    font-size: medium;
}

.nav-link:hover{
    color: greenyellow;
}



 /* after initializing style */
/* Here we define some styles that will ONLY be applied at screen sizes below 600 pixels */
/* @media (max-width: 600px) { */
    /* .box-1 {
      background: purple;
    } 
  
    .box-2 {
    background: yellow;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: solid 2px black;
    } 
  
    .box-3 {
      display: none;
    } 
  
    .box-4 {
      transform: rotate(360deg);
      transition: transform 0.5s ease-in;
    } 
  
    .box-5 {
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-bottom: 100px solid red;
      background: none;
      margin-left: 300px;
    } 
   */
   @media screen and (max-width: 992px) {
    /* start of large tablet styles */
    .img-responsive {
      min-width: 44%;
    }
}

   @media screen and (max-width: 768px) {
    /* start of medium tablet styles */
    /* Adding a fixed/percentage min-width could ensure that the image doesn't get too small */
    .img-responsive {
      min-width: 100%;
    }
}
    @media screen and (max-width: 576px) {
    /* start of phone styles */
    /* It's possible to hide the image if the screen becomes too small */
    .img-responsive {
      min-width: 100%;
    }
}